@tailwind base;
@tailwind components;
@tailwind utilities;
/* @layer base {
    html{
        font-family: "callibri";
    }
} */


* {
    font-family: Calibri, sans-serif;
}
.antonio{
    font-family: "Antonio", sans-serif;
}